@font-face {
    src: url("../fonts/TaxiDriver.ttf");
    font-family: "Taxi Driver";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    transition: all 0.4s ease-out;
}
.max-header {
    background-color: #2574a9;
    height: 100px;
}
.min-header {
    background-color: #c5eff7;
    height: 80px;
}
.container {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: 
        "lgo ... nav";
        grid-template-columns: auto 1fr auto;
    align-content: center;
}
.logo {
    grid-area: lgo;
}
.logo img {
    transition: all 0.4s ease-out;
}
.max-logo img {
    width: 320px;
}
.min-logo img {
    width: 280px;
}
.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;
}
.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}
.nav-bar a {
    position: relative;
    font-family: "Taxi Driver";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.nav-bar a:hover::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}

.max-nav a {
    font-size: 1em;
    color: #c5eff7; 
}
.min-nav a {
    font-size: 0.875em;
    color: #2574a9; 
}
.ghost {
    width: 100%;
    height: 100px;
    background-color: #cae1f1;
}
@media (max-width: 768px){
    .max-header {
        height: 80px;
    }
    .min-header {
        height: 60px;
    }
    .container {
        position: relative;
        padding: 0 20px;
        grid-template-areas: 
            "lgo ... mnu";
    }
    .max-logo img {
        width: 220px;
    }
    .min-logo img {
        width: 180px;
    }
    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .max-hamburger, .max-hamburger::before, .max-hamburger::after {
        background-color: #c5eff7;
    }
    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #2574a9;
    }
    .close-btn {
        width: 32px;
        transform: rotateZ(45deg);
    }
    .close-btn::before, .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }
    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #2980b9;
        transform: translate(-100%);
        transition: all 0.4s ease-out;
    }
    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }
    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }
    .menu-opened {
        transform: translate(0);
    }
    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }
    .nav-bar li {
        text-align: center;
    }

    .min-nav a {
        font-size: 1em;
        color: #c5eff7; 
    }
}
main {
    font-size: 20px;
}
main section {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Taxi Driver";
    font-size: 2em;
    color: #2574a9;
}
main section:nth-child(odd) {
    height: 100vh;
    background-color: #cae1f1;
}
main section:nth-child(even) {
    height: 100vh;
    background-color: #b7d5eb;
}
